@page "/products"

@code
{
    private string? productNameToSearch { get; set; }

    // This method is called when the search button is clicked
    private void HandleSearch(string searchFilter)
    {
        productNameToSearch = searchFilter;
    }
}


<h3>Product List</h3>
<br/>

<SearchComponent OnSearch="HandleSearch"></SearchComponent>

<ProductListComponent SearchProductFilter="@productNameToSearch"></ProductListComponent>
<br />
<a class="btn btn-primary" href="add-to-product">Add Product</a>

<br/>
